.App {
  min-height: 100vh;
  width: 100%;
  max-width: 1300px;
  display: flex;
  position: relative;
  padding-top: 100px;
}

aside {
  height: calc(100vh - 100px);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;

  .logo-wrapper {
    button  {
      padding: 0;
      border: 0;
      background-color: transparent;
      cursor: pointer;
      outline: 0;
    }

    #logo {
      width: 100px;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: calc(50% + 15px);

    ul {
      list-style: none;
      
      li {
        position: relative;
        margin-bottom: 5px;
        transition: all .4s ease;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &.not-active {
          opacity: 0.3;
        }

        &.active {
          
        }

        button {
          border: 0;
          cursor: pointer;
          background-color: transparent;
          outline: 0;
          color: #3f3f3f;
          transition: all .3s ease;
          &:hover {
            color: #040202;
          }

          &.close-button {
            position: absolute;
            left: -20px;
            top: 0;
          }

          &.list-button {
           margin-left: 30px; 
          }

        }
      }
    }
  }
  .description {
    position: absolute;
    left: 0;
    top: calc(50% + 10px);
    transition: all .4s ease-in-out;
  }

  .instragram-wrapper {
    margin-bottom: 15px;
  }
}

main {
  flex: 3;
  margin-left: 25%;
  background-color: rgba(red, 0.4);
}


.Slider {
  transition: all .8s ease-in-out;
  position: fixed;
  padding: 100px 0px 100px 25px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(yellow, 0.4);
}

