.App {
  min-height: 100vh;
  width: 100%;
  max-width: 1300px;
  display: flex;
  position: relative;
  padding-top: 100px;
}

aside {
  height: calc(100vh - 100px);
  background-color: rgba(pink, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;

  nav {
    display: flex;
    flex-direction: column;
  }
}

main {
  flex: 3;
  margin-left: 25%;
  background-color: rgba(red, 0.4);
}


.Slider {
    position: absolute;
    padding: 100px 25px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: red;
  }

