.SwipeGalleryManager {
  display: inline-flex;
  height: 100%;
  
  .SwipeItem, .NextItem {
    padding-right: 25px;
    height: calc(100% - 50px);

    img {
      height: 100%; 
      width: auto;
    }
  }
}